// Base styles
%flex-layout {
  display: flex;
}

%wrap {
  flex-wrap: wrap;
}

// Direction & wrap
%row {
  @extend %flex-layout;
}

.rg-layout-row {
  @extend %row;
}

%row-reverse {
  @extend %flex-layout;
  flex-direction: row-reverse;
}

.rg-layout-row-reverse {
  @extend %row-reverse;
}

%row-wrap {
  @extend %row;
  @extend %wrap;
}

.rg-layout-row-wrap {
  @extend %row-wrap;
}

%row-wrap-reverse {
  @extend %row-reverse;
  @extend %wrap;
}

.rg-layout-row-wrap-reverse {
  @extend %row-wrap-reverse;
}

%column {
  @extend %flex-layout;
  flex-direction: column;
}

.rg-layout-column {
  @extend %column;
}

%column-reverse {
  @extend %flex-layout;
  flex-direction: column-reverse;
}

.rg-layout-column-reverse {
  @extend %column-reverse;
}

%column-wrap {
  @extend %column;
  @extend %wrap;
}

.rg-layout-column-wrap {
  @extend %column-wrap;
}

%column-wrap-reverse {
  @extend %column-reverse;
  @extend %wrap;
}

.rg-layout-column-wrap-reverse {
  @extend %column-wrap-reverse;
}

// Align & justify content
%align-items-start {
  align-items: flex-start;
}

%align-items-center {
  align-items: center;
}

%align-items-baseline {
  align-items: baseline;
}

%align-items-stretch {
  align-items: stretch;
}

%align-items-end {
  align-items: flex-end;
}

%align-content-start {
  align-content: flex-start;
}

%align-content-space-between {
  align-content: space-between;
}

%align-content-center {
  align-content: center;
}

%align-content-space-around {
  align-content: space-around;
}

%align-content-stretch {
  align-content: stretch;
}

%align-content-end {
  align-content: flex-end;
}

%justify-content-start {
  justify-content: flex-start;
}

%justify-content-space-between {
  justify-content: space-between;
}

%justify-content-center {
  justify-content: center;
}

%justify-content-stretch {
  justify-content: stretch;
}

%justify-content-space-around {
  justify-content: space-around;
}

%justify-content-end {
  justify-content: flex-end;
}

// Align items classes
.rg-align-items-start {
  @extend %justify-content-start;
  @extend %align-items-start;
}

.rg-align-items-start-center {
  @extend %justify-content-start;
  @extend %align-items-center;
}

.rg-align-items-start-baseline {
  @extend %justify-content-start;
  @extend %align-items-baseline;
}

.rg-align-items-start-stretch {
  @extend %justify-content-start;
  @extend %align-items-stretch;
}

.rg-align-items-start-end {
  @extend %justify-content-start;
  @extend %align-items-end;
}

.rg-align-items-space-between-start {
  @extend %justify-content-space-between;
  @extend %align-items-start;
}

.rg-align-items-space-between-center {
  @extend %justify-content-space-between;
  @extend %align-items-center;
}

.rg-align-items-space-between-baseline {
  @extend %justify-content-space-between;
  @extend %align-items-baseline;
}

.rg-align-items-space-between-stretch {
  @extend %justify-content-space-between;
  @extend %align-items-stretch;
}

.rg-align-items-space-between-end {
  @extend %justify-content-space-between;
  @extend %align-items-end;
}

.rg-align-items-center-start {
  @extend %justify-content-center;
  @extend %align-items-start;
}

.rg-align-items-center {
  @extend %justify-content-center;
  @extend %align-items-center;
}

.rg-align-items-center-baseline {
  @extend %justify-content-center;
  @extend %align-items-baseline;
}

.rg-align-items-center-stretch {
  @extend %justify-content-center;
  @extend %align-items-stretch;
}

.rg-align-items-center-end {
  @extend %justify-content-center;
  @extend %align-items-end;
}

.rg-align-items-stretch-start {
  @extend %justify-content-stretch;
  @extend %align-items-start;
}

.rg-align-items-stretch-center {
  @extend %justify-content-stretch;
  @extend %align-items-center;
}

.rg-align-items-stretch-baseline {
  @extend %justify-content-stretch;
  @extend %align-items-baseline;
}

.rg-align-items-stretch {
  @extend %justify-content-stretch;
  @extend %align-items-stretch;
}

.rg-align-items-stretch-end {
  @extend %justify-content-stretch;
  @extend %align-items-end;
}

.rg-align-items-space-around-start {
  @extend %justify-content-space-around;
  @extend %align-items-start;
}

.rg-align-items-space-around-center {
  @extend %justify-content-space-around;
  @extend %align-items-center;
}

.rg-align-items-space-around-baseline {
  @extend %justify-content-space-around;
  @extend %align-items-baseline;
}

.rg-align-items-space-around-stretch {
  @extend %justify-content-space-around;
  @extend %align-items-stretch;
}

.rg-align-items-space-around-end {
  @extend %justify-content-space-around;
  @extend %align-items-end;
}

.rg-align-items-end-start {
  @extend %justify-content-end;
  @extend %align-items-start;
}

.rg-align-items-end-center {
  @extend %justify-content-end;
  @extend %align-items-center;
}

.rg-align-items-end-baseline {
  @extend %justify-content-end;
  @extend %align-items-baseline;
}

.rg-align-items-end-stretch {
  @extend %justify-content-end;
  @extend %align-items-stretch;
}

.rg-align-items-end {
  @extend %justify-content-end;
  @extend %align-items-end;
}

// Align content classes
.rg-align-content-start {
  @extend %justify-content-start;
  @extend %align-content-start;
}

.rg-align-content-start-space-between {
  @extend %justify-content-start;
  @extend %align-content-space-between;
}

.rg-align-content-start-center {
  @extend %justify-content-start;
  @extend %align-content-center;
}

.rg-align-content-start-space-around {
  @extend %justify-content-start;
  @extend %align-content-space-around;
}

.rg-align-content-start-stretch {
  @extend %justify-content-start;
  @extend %align-content-stretch;
}

.rg-align-content-start-end {
  @extend %justify-content-start;
  @extend %align-content-end;
}

.rg-align-content-space-between-start {
  @extend %justify-content-space-between;
  @extend %align-content-start;
}

.rg-align-content-space-between {
  @extend %justify-content-space-between;
  @extend %align-content-space-between;
}

.rg-align-content-space-between-center {
  @extend %justify-content-space-between;
  @extend %align-content-center;
}

.rg-align-content-space-between-space-around {
  @extend %justify-content-space-between;
  @extend %align-content-space-around;
}

.rg-align-content-space-between-stretch {
  @extend %justify-content-space-between;
  @extend %align-content-stretch;
}

.rg-align-content-space-between-end {
  @extend %justify-content-space-between;
  @extend %align-content-end;
}

.rg-align-content-center-start {
  @extend %justify-content-center;
  @extend %align-content-start;
}

.rg-align-content-center-space-between {
  @extend %justify-content-center;
  @extend %align-content-space-between;
}

.rg-align-content-center {
  @extend %justify-content-center;
  @extend %align-content-center;
}

.rg-align-content-center-space-around {
  @extend %justify-content-center;
  @extend %align-content-space-around;
}

.rg-align-content-center-stretch {
  @extend %justify-content-center;
  @extend %align-content-stretch;
}

.rg-align-content-center-end {
  @extend %justify-content-center;
  @extend %align-content-end;
}

.rg-align-content-stretch-start {
  @extend %justify-content-stretch;
  @extend %align-content-start;
}

.rg-align-content-stretch-space-between {
  @extend %justify-content-stretch;
  @extend %align-content-space-between;
}

.rg-align-content-stretch-center {
  @extend %justify-content-stretch;
  @extend %align-content-center;
}

.rg-align-content-stretch-space-around {
  @extend %justify-content-stretch;
  @extend %align-content-space-around;
}

.rg-align-content-stretch {
  @extend %justify-content-stretch;
  @extend %align-content-stretch;
}

.rg-align-content-stretch-end {
  @extend %justify-content-stretch;
  @extend %align-content-end;
}

.rg-align-content-space-around-start {
  @extend %justify-content-space-around;
  @extend %align-content-start;
}

.rg-align-content-space-around-space-between {
  @extend %justify-content-space-around;
  @extend %align-content-space-between;
}

.rg-align-content-space-around-center {
  @extend %justify-content-space-around;
  @extend %align-content-center;
}

.rg-align-content-space-around {
  @extend %justify-content-space-around;
  @extend %align-content-space-around;
}

.rg-align-content-space-around-stretch {
  @extend %justify-content-space-around;
  @extend %align-content-stretch;
}

.rg-align-content-space-around-end {
  @extend %justify-content-space-around;
  @extend %align-content-end;
}

.rg-align-content-end-start {
  @extend %justify-content-end;
  @extend %align-content-start;
}

.rg-align-content-end-space-between {
  @extend %justify-content-end;
  @extend %align-content-space-between;
}

.rg-align-content-end-center {
  @extend %justify-content-end;
  @extend %align-content-center;
}

.rg-align-content-end-space-around {
  @extend %justify-content-end;
  @extend %align-content-space-around;
}

.rg-align-content-end-stretch {
  @extend %justify-content-end;
  @extend %align-content-stretch;
}

.rg-align-content-end {
  @extend %justify-content-end;
  @extend %align-content-end;
}

// Flex element properties
@for $i from 0 through 12 {
  .rg-flex-grow-#{$i} {
    flex-grow: #{$i};
  }

  .rg-flex-shrink-#{$i} {
    flex-shrink: #{$i};
  }
}

// Self alignment
.rg-align-self-start {
  align-self: flex-start;
}

.rg-align-self-baseline {
  align-self: baseline;
}

.rg-align-self-center {
  align-self: center;
}

.rg-align-self-stretch {
  align-self: stretch;
}

.rg-align-self-end {
  align-self: end;
}
